In [1]:
import numpy as np
import sys
sys.path.insert(0,'../code/')
from lme_forecast_general import LME
import pandas as pd

#### Read data

In [2]:
data = pd.read_csv('./data/tb_prevalence.csv')
data = data.sort_values(by=['location_id','age_group_id','sex_id','year_id'])
data = data.iloc[:,1:]

In [3]:
data.head()

,age_group_id,location_id,sex_id,year_id,value,haq,intercept,2_X_1,2_X_2,3_X_1,...,20_X_2,30_X_1,30_X_2,31_X_1,31_X_2,32_X_1,32_X_2,235_X_1,235_X_2,lme_fit
0,2,6,1,1990,-1.816082,43.258941,1,1,0,0,...,0,0,0,0,0,0,0,0,0,-2.285194
1,2,6,1,1991,-1.828331,44.078531,1,1,0,0,...,0,0,0,0,0,0,0,0,0,-2.308028
2,2,6,1,1992,-1.838447,44.913657,1,1,0,0,...,0,0,0,0,0,0,0,0,0,-2.331294
3,2,6,1,1993,-1.846512,45.764612,1,1,0,0,...,0,0,0,0,0,0,0,0,0,-2.355002
4,2,6,1,1994,-1.852300,46.631696,1,1,0,0,...,0,0,0,0,0,0,0,0,0,-2.379159

In [4]:
Y = data['value'].values
haq = data[(data['age_group_id'] == 2) & (data['sex_id'] == 1)]['haq'].values
haq = haq - np.mean(haq)
n_locs = 195
n_ages = 23
T = 28

#### Build model

$$ y = \beta \text{HAQ} + \beta_I \text{age-sex} + \pi_l $$

In [6]:
model = LME([n_locs,n_ages,2,T], 1, Y, [(haq,[True,False,False,True])], indicators=[[False,True,True,False]], 
            global_effects_indices=[0],
            global_intercept=False, random_effects_list=[(None, [True,False,False,False])])

In [7]:
import time
t0 = time.time()
model.optimize(inner_max_iter=200)
print('elapsed', time.time()-t0)

n_groups 195
k_beta 47
k_gamma 1
total number of fixed effects variables 49
fit with gamma fixed...
finished...elapsed 2.869774103164673
elapsed 4.717663049697876

In [8]:
lme_fit = data['lme_fit'].values
np.linalg.norm(model.yfit_no_random - lme_fit)/ np.linalg.norm(lme_fit)

0.00011134706760691497